@media (max-width: 575.98px) {
  .container-fluid {
    padding: 0 !important;
  }
  .container-fluid .container {
    background: #fafafa !important;
  }
  .container-fluid .container .project-item .project-item-box {
    background: #ffffff;
    box-shadow: 0 0 10px 4px #dcdcdc !important;
  }
}
.container-fluid {
  background: #282c34;
  min-height: 100vh;
  padding-top: 15px;
  padding-bottom: 15px;
}
.container-fluid .container {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #ffffff;
}
.container-fluid .container .project-item {
  margin-bottom: 15px;
}
.container-fluid .container .project-item .project-item-box {
  padding: 15px;
  border-radius: 4px;
}
.container-fluid .container .project-item .project-item-box .img-box {
  border-radius: 4px;
  overflow: hidden;
}
.container-fluid .container .project-item .project-item-box .img-box .project-img {
  width: 100%;
  height: auto;
}
.container-fluid .container .project-item .project-item-box .desc_box {
  margin-top: 15px;
}
.container-fluid .container .project-item .project-item-box .desc_box .title {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  word-wrap: break-word;
}
.container-fluid .container .project-item .project-item-box .desc_box .desc {
  font-size: 14px;
  color: #777777;
}
.modal .qrcode {
  width: 100%;
  height: auto;
  display: block;
}
.modal .video {
  width: 100%;
  height: 100%;
  display: block;
}
