@media (max-width: 575.98px) {
  .container-fluid {
    padding: 0 !important;
    .container {
      background: #282c34 !important;
    }
  }
}
.container-fluid {
  background: #282c34;
  min-height: 100vh;
  padding-top: 15px;
  padding-bottom: 15px;
  .container {
    padding-top: 15px;
    padding-bottom: 15px;
    background: #ffffff;
    .project-item {
      margin-bottom: 15px;
      .img-box {
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 2px 4px #ffffff;
        .project-img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
